ul{
    list-style-type: none;
    overflow: hidden;
    background-color:#f41cb2;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    
    
}
li a{
    color: bisque;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 15px;
    background-color: #f41cb2;
    border-radius: 3px;

}
.right{
    float: right;
}
li a:hover{
    /*transform: scale(1.4);*/
    background-color: #FA912E;
    font-size: large;
    animation: cubic-bezier(0.19, 1, 0.22, 1);
    
}

